.navbar-expand-lg {
    background-color: 13, 110, 253;
}

main {
    background-color: azure;
}
.nav-link .active {
display: flex;
justify-content: end;
}
.navbar-brand {
display: flex;
justify-content: center;
}

.img-fluid .img-thumbnail {
    width: 50%;
    height: 50%;
}

.tarjeta {
    text-align: center;
    width: 22.5%;
}
.caracteristicas {
    padding: 4rem 2rem;
  text-align: justify;
 } 
.object-fit {
    min-height: 5vh;
    object-fit: cover;
  }
#portafolio img {
    height: 20rem;  
  }   